process {

    executor = 'local'

    cpus = 2
    memory = '4 GB'

    withName: FASTQC {
        cpus = 2
    }

    withName: FASTP {
        cpus = 4
    }

    withName: RNASPADES {
        cpus = 4
        memory = '6 GB'
    }

    withName: HISAT2 {
        cpus = 4
    }

    withName: SAMTOOLS_SORT_INDEX {
        cpus = 4
    }

    withName: STRINGTIE {
        cpus = 4
    }

    withName: DIAMOND_BLASTP {
        cpus = 4
    }
}

report {
    enabled = true
    file = 'results/nf/nextflow_report.html'
}

timeline {
    enabled = true
    file = 'results/nf/nextflow_timeline.html'
}

trace {
    enabled = true
    file = 'results/nf/nextflow_trace.txt'
}

dag {
    enabled = true
    file = 'results/nf/nextflow_dag.html'
}

process {

    withName: FASTQC_TRIMMED {
        cpus = 2
        memory = '2 GB'
    }

    withName: MULTIQC {
        cpus = 1
        memory = '2 GB'
    }
}

process {
    withName: READBACK_MAPPING {
        cpus = 4
        memory = '4 GB'
    }
}

process {
    withName: RNAQUAST {
        cpus = 4
        memory = '6 GB'
    }
}

trace {
    overwrite = true
}

report {
    overwrite = true
}

timeline {
    overwrite = true
}

dag {
    overwrite = true
}
