process {
    executor = 'local'

    cpus = 4

    withName: GENOME_FASTQC {
        cpus = 2
    }

    withName: GENOME_FASTP {
        cpus = 4
    }

    withName: GENOME_FASTQC_CLEAN {
        cpus = 2
    }

    withName: GENOME_JELLYFISH {
        cpus = 4
    }

    withName: GENOME_SPADES {
        cpus = 4
        memory = '6 GB'
    }

    withName: GENOME_QUAST {
        cpus = 4
    }

    withName: GENOME_BUSCO {
        cpus = 2
    }
}

docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}

trace {
    enabled = true
    file = 'results/nf/genome/nextflow_trace.txt'
    overwrite = true
}

report {
    enabled = true
    file = 'results/nf/genome/nextflow_report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = 'results/nf/genome/nextflow_timeline.html'
    overwrite = true
}

dag {
    enabled = true
    file = 'results/nf/genome/nextflow_dag.html'
    overwrite = true
}
